
a {
    text-decoration: none;
}
.head {
    color: white;
    font-family:Trebuchet MS;
    overflow: auto;
    height: 70px;
}

.Menu {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    height: 65px;
    width: 65px;
    padding:auto;
}

.title {
    float: right;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(0,153,255);
    font-size: 12px;
    height: 65px;
    text-align: center;
    width: 85%;
}

.cours {
    border-radius: 10px;
    font-family: Trebuchet MS;
    padding: 10px;
    margin: 5px 0px;
    background-color:rgb(225,245,255);
}

.to_test {
    border-radius: 10px;
    font-family: Trebuchet MS;
    padding: 10px;
    margin: 5px 0px;
    background-color: rgb(0,153,255);
    text-align: center;
    font-size: 200%;
    color: white;
}
.to_test:hover {
    background-color:rgb(0, 10, 150);
}

#conteneur{
  height: 8%;
  background-color: rgb(220,220,220);
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
