a {
    text-decoration: none;
}

body{

}

h2{
  background-color: rgb(100,245,255);

  border-radius: 10px;
  font-family: Trebuchet MS;
  padding: 10px;
  margin: 5px 0px;
  font-size: 200%;
}
.head {
    color: white;
    font-family:Trebuchet MS;
    overflow: auto;
}

.Menu {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 14%;
    padding:auto;
    height: inherit;
}
.Menu:hover{
  background-color: rgb(186, 85, 211);
}

.title {
    float: right;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(0,153,255);
    text-align: center;
    width:84%;
    height: inherit;
}







.to_test {
    border-radius: 10px;
    font-family: Trebuchet MS;
    padding: 10px;
    margin: 5px 0px;
    text-align: center;
    font-size: 200%;
    color: black;
}

.to_test {
    margin-top: 25%;
    position: relative;
    overflow: hidden;
}
.to_test b {
    padding: 200px;
    position: relative;
    z-index: 2;
}

.to_test img {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    opacity: 0.6;
    border-radius: 20px;
    margin-left: 35%
}

.to_test:hover img{
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  opacity: 1;
  border-radius: 20px;
  margin-left: 35%
}


#champ1{
  margin-left: 20%;
  margin-top: 5%;
  width:60%;
  border-radius: 10px;
  height: 20%;
  background-color: rgb(225,245,255);
  font-size: 100%;
  overflow: auto;
}

#bouton1{
  border-radius: 10px;
  width: 10%;
  height: 6%;
}
.bouton1:hover{
  background-color: rgb(51, 204, 51);
}

#champ2{
  border-radius: 10px;
  width: 30%;
  margin-left: 35%;
  margin-top: 5%;
  height: 3%;
}

#bouton2{
  width: 5%;
  height: 3%;

  border-radius: 10px;
}
.bouton2:hover{
  background-color: rgb(51, 204, 51);
}


#conteneur{
  height: 10%;
  background-color: rgb(220,220,220);
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
