<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="/Cours">
    <div class="bouton-accueil"  style="background-color:rgb(0,153,255);">
      <b>Accéder à la liste des cours</b>
    </div>
  </a>
  <a href="/Cours">
    <div class="bouton-accueil" style="background-color:rgb(0,153,255)">
      <b>Reprendre au dernier cours</b>
    </div>
  </a>
  <a href="/Exercice">
    <div class="bouton-accueil" style="background-color:rgb(0,153,255)">
      <b>Reprendre au dernier exercice</b>
    </div>
  </a>
</ion-content>
