<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bouton-accueil" [routerLink]="['/list']">
    <b>Accéder à la liste des cours</b>
  </div>
  <div class="bouton-accueil" [routerLink]="['/Cours']">
    <b>Reprendre au dernier cours</b>
  </div>
  <div class="bouton-accueil" [routerLink]="['/Exercice']">
    <b>Reprendre au dernier exercice</b>
  </div>
</ion-content>
