<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cours
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cours">
    <h2>
      Concordance des temps - Passé
    </h2>
    <p>
    Règle Français : verbe proposition principale à l’imparfait de l’indicatif + que + verbe proposition subordonnée au présent du subjonctif.<br>
    Règle espagnol : Verbe proposition principale à l’imparfait de l’indicatif + que + verbe proposition subordonnée à l’imparfait du subjonctif.
    </p>
    <i>
      El quería que tu vinieras.
    </i>
    <p>
      Il voulait que tu viennes.
  </div>

  <a href="/Exercice">
    <div class="to_test">
      <b>S'exercer</b>
    </div>
  </a>


</ion-content>
